.container{
	/*width: 1180px;*/
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
}
.container-fluid{
	display: block;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
/* base styles */
/* header styles */
 .nav-parent{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	height: 100%;
 }
.burger{
	width: 61px;
	height: 61px;
	background-image: url('../images/burger-icon.svg');
	display: none;
	float: right;
	margin-right: 30px;
}
header{
	height: 90px;
	z-index: 20;
    position: relative;
}

.logo-parent{
/*	display: inline-block;
	vertical-align: middle;*/
	margin: auto auto auto 0;
	width: 100px;
}
.logo-parent img{
	/*display: block;*/
	width: 180px;
	/*height: 50px;*/
}

.header-nav{
	margin: auto;
}
.nav-list{
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Roboto";
	font-size: 24px;
	text-transform: uppercase;
}
.social-icon a{
	display: inline-block;
	width: 66px;
	color: #3D58A6;
}
.social-icon .icon-search{
	color: #EE4036;
	font-size: 24px;
	padding-left: 20px;
}

.nav-list a{
	color: #3d58a6;
}
.nav-list:hover{
	opacity: .5;
}
.social-icon{
	margin: auto 0 auto auto;
	font-size: 24px;
	border-right: solid 1px #3d58a6;
	padding-left: 20px;
}
.social-icon li {
	display: inline-block;
	vertical-align: middle;
	
}
/* header styles */

.typography-banner {
	width: 100%;
	height: 90px;
	background-color: #BDCCD4;
}
.typography-banner-child {
	width: 1180px;
	display: flex;
	margin: auto;
	justify-content: space-between;

}
.typography-banner h1 {
	font-family: 'roboto';
	font-size: 24px;
	text-transform: uppercase;
	color: #3D58A6;
	margin-top:35px;

}
.typography-banner span {
	font-size: 15px;
	text-decoration: underline;
	margin-top: 35px;
	font-family: 'roboto';	
}
.typography-banner span a {
	color: #fff;
}

.container > img {
	padding-top: 30px;
	margin-right: 30px;
	
	
}

.container >  h1 {
	padding-top: 30px;
	text-transform: uppercase;
	color:#363E97;
	font-family: 'roboto';

}

.container p {
	/*display: block;*/
	font-family: 'roboto';
	padding-top: 30px;
	line-height: 20px;
	text-align: justify;
	
}



section.featured-article{
	background-color: #E6E6E6;
	padding-bottom: 90px;
}
.featured-article h1{
	padding: 30px 0;
	text-transform: uppercase;
	color: #000;
	font-family: 'roboto';
	font-size: 24px;
}
.featured-article h1 a{
	margin-left: 10px;
	text-transform: lowercase;
	color: #000;
	font-family: 'roboto';
	font-size: 24px;
}
.featured-article .article-parent .part-article{
	width: 570px;
	height: 200px;
	background-color: #F2F2F2;
	font-family: 'roboto';

}
.featured-article .article-parent .part-article.left{
	float: left;
}

.featured-article .article-parent .part-article h3{
	padding-top: 10px;
	padding-left: 30px;
	font-size: 24px;
	color: #3D58A6;
	text-decoration: underline;
	text-transform: uppercase;
}

.featured-article .article-parent .part-article img {
	padding-top: 10px;
	padding-left: 30px;
	margin-right: 30px;

}
.featured-article .article-parent .part-article span {
	float: right;
    padding-top: 50px;
    padding-right: 10px;
}
   
.featured-article .article-parent .part-article p {
	padding-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}
.featured-article .article-parent .part-article.right{
	float: right;
}


.soc-share-icons {
	width: 100%;
	background-color:#BDCCD4;
	height: 50px;
}
.soc-share-icons-one {
	width: 1180px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

}

.soc-share-icons-one a {
	text-decoration: underline;
	color: #fff;
}





